<div class="jumbotron" id="deletediv">
  <h2>Delete Operation</h2><br>
  <form>
    <div class="form-group">
      <table>
        <tr>
          <td><label>Mobile Number</label></td>
        </tr>
        <tr>
          <td>
              <input type="number" class="form-control" placeholder="Enter Mobile Number" #mobile>
          </td>
          <td>
              <button class="btn btn-primary" (click)="fetchDetails(mobile.value)">Fetch Details</button>
          </td>
        </tr>
      </table>
    </div>
    </form>
    <div *ngIf="account != null">
      <table class="table table-hover table-dark">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Account Holder Name</th>
            <th scope="col">Mobile Number</th>
            <th scope="col">Current Balance</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{account.id}}</td>
            <td>{{account.holdername}}</td>
            <td>{{account.mobileno}}</td>
            <td>{{account.balance}}</td>
            <td><button class="btn btn-danger" (click)="delete()">Delete</button></td>
          </tr>
        </tbody>
      </table>
    </div>
</div>